<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.restaurant.table.dao.TableUseMapper">
  <resultMap id="BaseResultMap" type="com.sss.restaurant.table.model.TableUse">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="table_uid" jdbcType="VARCHAR" property="tableUid" />
    <result column="access_token" jdbcType="VARCHAR" property="accessToken" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="submit_time" jdbcType="TIMESTAMP" property="submitTime" />
    <result column="over_time" jdbcType="TIMESTAMP" property="overTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, table_uid, order_no, status, create_time, submit_time, over_time, access_token
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_table_use
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_table_use
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sss.restaurant.table.model.TableUse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_table_use (table_uid, order_no, status,
      create_time, submit_time, over_time, access_token
      )
    values (#{tableUid,jdbcType=VARCHAR}, #{orderNo,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER},
      #{createTime,jdbcType=TIMESTAMP}, #{submitTime,jdbcType=TIMESTAMP}, #{overTime,jdbcType=TIMESTAMP},
      #{accessToken,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sss.restaurant.table.model.TableUse">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_table_use
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tableUid != null">
        table_uid,
      </if>
      <if test="accessToken != null">
        access_token,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="submitTime != null">
        submit_time,
      </if>
      <if test="overTime != null">
        over_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tableUid != null">
        #{tableUid,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        #{overTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sss.restaurant.table.model.TableUse">
    update sys_table_use
    <set>
      <if test="tableUid != null">
        table_uid = #{tableUid,jdbcType=VARCHAR},
      </if>
      <if test="accessToken != null">
        access_token = #{accessToken,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="submitTime != null">
        submit_time = #{submitTime,jdbcType=TIMESTAMP},
      </if>
      <if test="overTime != null">
        over_time = #{overTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sss.restaurant.table.model.TableUse">
    update sys_table_use
    set table_uid = #{tableUid,jdbcType=VARCHAR},
      access_token = #{accessToken,jdbcType=VARCHAR},
      order_no = #{orderNo,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      submit_time = #{submitTime,jdbcType=TIMESTAMP},
      over_time = #{overTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="selectByUidAndToken" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from sys_table_use
    where access_token = #{accessToken}
    <if test="tableUid != null and tableUid != ''">
      and table_uid = #{tableUid}
    </if>
  </select>
</mapper>