<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sss.restaurant.order.dao.OrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.sss.restaurant.order.model.OrderDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="goods_id" jdbcType="BIGINT" property="goodsId" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="amount_origin" jdbcType="DECIMAL" property="amountOrigin" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="discount" jdbcType="DECIMAL" property="discount" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
  </resultMap>
  <sql id="Base_Column_List">
    id, order_no, goods_id, num, amount_origin, amount, discount, create_time, creator, 
    update_time, updator
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_order_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from sys_order_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sss.restaurant.order.model.OrderDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_order_detail (order_no, goods_id, num, 
      amount_origin, amount, discount, 
      create_time, creator, update_time, 
      updator)
    values (#{orderNo,jdbcType=VARCHAR}, #{goodsId,jdbcType=BIGINT}, #{num,jdbcType=INTEGER}, 
      #{amountOrigin,jdbcType=DECIMAL}, #{amount,jdbcType=DECIMAL}, #{discount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sss.restaurant.order.model.OrderDetail">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_order_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="amountOrigin != null">
        amount_origin,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="discount != null">
        discount,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updator != null">
        updator,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="num != null">
        #{num,jdbcType=INTEGER},
      </if>
      <if test="amountOrigin != null">
        #{amountOrigin,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        #{discount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        #{updator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sss.restaurant.order.model.OrderDetail">
    update sys_order_detail
    <set>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="goodsId != null">
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=INTEGER},
      </if>
      <if test="amountOrigin != null">
        amount_origin = #{amountOrigin,jdbcType=DECIMAL},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="discount != null">
        discount = #{discount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updator != null">
        updator = #{updator,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sss.restaurant.order.model.OrderDetail">
    update sys_order_detail
    set order_no = #{orderNo,jdbcType=VARCHAR},
      goods_id = #{goodsId,jdbcType=BIGINT},
      num = #{num,jdbcType=INTEGER},
      amount_origin = #{amountOrigin,jdbcType=DECIMAL},
      amount = #{amount,jdbcType=DECIMAL},
      discount = #{discount,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updator = #{updator,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="getGoodsSaleCountQuery">
    select IFNULL(count(*),0)
    from sys_order_detail a
    left join sys_order b on a.order_no = b.order_no
    where
    1 = 1
    <if test="goodsId != null">
      and a.goods_id = #{goodsId}
    </if>
    <if test="orderStatus != null">
      and b.order_status = #{orderStatus}
    </if>
    <if test="beginCreateTime != null">
      <![CDATA[and a.create_time >= #{beginCreateTime,jdbcType=TIMESTAMP}]]>
    </if>
    <if test="endCreateTime != null">
      <![CDATA[and a.create_time <= #{endCreateTime,jdbcType=TIMESTAMP}]]>
    </if>
  </select>
</mapper>